@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBF6F6;
  --foreground: #F9E0E0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FBF6F6;
    --foreground: #F9E0E0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
